@import "tailwindcss";

:root {
  /* light */
  --background: #ffffff;
  --foreground: #171717;
  --primary: #00139f;
  --muted: #f4f4f5;
  --border: #e4e4e7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #ededed;
    --primary: #2235c0;
    --muted: #272727;
    --border: #28282c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
